 

.panda-donate{
    height: 390px;
    background-image: url(../../assets/background/panda_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.content-donate{
    padding-top: 40px;
    height: 1482px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}


.donate-body{
    margin: auto;
    height: 1156px;
    width: 1160px;
}

.title__donate{
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
    font-weight: 400;

    margin-bottom: 10px;
}

.decription__donate{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

    margin-bottom: 40px;
}


.subtitle__donate{
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
    margin-bottom: 60px;

}

.donate__container{
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    height: 964px;
    border-radius: 20px;
    padding-top: 40px;
    padding-right: 92px;
    padding-left: 92px;

}

.title_donate-container{
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
}


.subtitle_donate-container{
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.title_donate-container{
    margin-bottom: 10px;
}


.subtitle_donate-container{
    margin-bottom: 60px;
}

.image__donate-animals{
    display: flex;
    height: 246px;
    width: 976px;
    flex-direction: row;
    justify-content: center;
    gap: 64px;
    margin-bottom: 48px;
}
.donate__number{
    margin-top: 105px;
    text-align: center;
}

.number_panda{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 72px;
}

.text_panda{

    font-weight: 400;
    font-size: 16px;
}

.donate__number_wrapper{
    display: flex;
}
.donate__number_wrapper > img{
    margin-top: 130px;
    width: 14px;
    height: 14px;
}

.donate__buttons{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    gap:30px;
}


.donate__button{

    border-radius: 5px;
}
.donate__radiobuttons{

    display: flex;
    justify-content: center;
    gap: 50px;
}

.donate__radiobuttons label {
    position: relative;    
    user-select: none;
    display: inline-block;
    cursor: pointer;
    margin-right: 0;
    padding-left: 25px;
    line-height: 18px;
   
  }
  .time {
    display: none;
  }
  .radiobutton-item label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    border: 1px solid #fe9013;
    border-radius: 50%;
  }
  
  .time:checked + label:before {
    border: 1px solid #4b9200;
    background-color: #4b9200;
  }
  
  .radiobutton-item label:hover:before {
    filter: brightness(120%);
  }
  
  .donate__radiobuttons label:before {
    content: "";
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #fe9013;
  }
  
  .another_amount{
    position: relative;
    width: 268px;
    height: 54px;
    border: 1px solid #929699;
    padding-left: 9px;
  }

 

  .wrapper__another-amount{
    position: relative;
  }

  .wrapper__another-amount > img{
    position: absolute;
    top: 17px;
    right: 10px;
  }


  .donate__shared{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333B41;
  }