@media (min-width: 1600px) {
    body {
        max-width: 100%;
        margin: 0 0;
    }
}

@media (max-width: 1430px) {

    .backstage-flower {
        display: none;
    }

    .pets {
        height: 1076px;
        padding-top: 0px;
    }

    .pets-container {
        height: 742px;
    }

    .pet-image-left {
        display: none;
    }

    .pet-image-left-2 {
        display: block;
        position: absolute;
        left: -192px;
        bottom: 0;
        height: 202px;
    }

    .pet-image-right {
        height: 180px;
    }

    .pick .pets-choose-button {
        display: block;
        margin: -31px auto 0 auto;
        letter-spacing: -1px;
        border-radius: 25px;
    }

    .pets-container {
        grid-template-columns: repeat(3, 294px);
        grid-template-rows: repeat(2, 354px);
        row-gap: 85px;
        margin-bottom: 139px;
    }

    .pet-item {
        max-width: 294px;
        max-height: 294px;
    }

    .pet-image {
        max-width: 274x;
        max-height: 274px;
    }

    .pets-button {
        top: 369px;
    }

    .pets-button-right {
        left: 585px;
    }

    .pets-button-left {
        left: 355px;
    }

    .pet-item:hover {
        max-height: 354px;
    }

    .pet-item:hover .pet-image {
        max-width: 294x;
        max-height: 292px;
    }

    .pet-item:hover .pet-info {
        height: 60px;
        padding-top: 6px;
    }
}

@media (max-width: 1180px) {

    .header {
        width: 100%;
    }

    .panda {
        height: 584px;
    }

    .panda-wrapper {
        padding-top: 72px;
        padding-right: 86px;
    }

    .panda-title {
        left: -25px;
        max-width: 400.25px;
        height: 320px;
        font-size: 85px;
    }

    .panda-button {
        margin-top: 49px;
    }

    .circle {
        width: 367px;
        height: 367px;
        top: 21px;
        left: -58px;
    }

    .backstage {
        height: 615px;
        padding: 109px 0 100px 0;
        margin-bottom: 54px;
    }

    .backstage-cap>img {
        height: 408px;
        max-width: 454px;
        object-fit: cover;
    }

    .backstage-title {
        margin: -10px 0 0 2px;
    }

    .undertitle {
        margin: 22px 0 0 2px;
    }

    .backstage-subtitle {
        margin: 55px 0 0 2px;
    }

    .undersubtitle {
        margin: 35px 0 0 3px;
    }

    .pick {
        padding: 30px 30px 50px 30px;
        height: 875px;
    }

    .pick-container {
        height: 795px;
        padding: 30px;
        background: rgba(253, 253, 255, 0.52);
        border-radius: 20px;
        margin-bottom: 50px;
    }

    .pick-subtitle {
        margin: 19px 0 0 19px;
    }

    .pick-pretext {
        margin: 20px 0 0 19px;
        padding-right: 47px;
    }

    .pick-text {
        margin: 10px 0 0 19px;
        padding-right: 3px;
    }

    .pick-block2 {
        margin-top: 41px;
    }

    .pick-item-description {
        margin: 30px 0 0 1px;
    }

    .pick-works-wrapper>img {
        width: 69px;
        height: 35.08px;
        margin: 60.5px 32px 0 30px;
    }

    .pick-works-wrapper {
        margin-bottom: 100px;
    }

    .testimonials {
        padding-top: 101px;
        height: 843px;
    }

    .testimonials__title {
        margin-bottom: 30px;
    }

    .testimonials__container {
        width: 100%;
        height: 599px;
        margin: 0 auto;
    }

    .testimonials__row {
        justify-content: space-evenly;
    }

    .testimonials__text {
        font-size: 15px;
    }

    .testimonials-image-right {
        height: 329px;
        bottom: -88px;
    }

    .testimonials__column {
        width: 294px;
        height: 391px;
    }

    .testimonials__column:nth-child(2) {
        display: none;
    }

    .button-testiminials {
        margin: 53px 0 0 30px;
    }

    .line_scrol {
        width: 405px;
    }

    .footer__container {
        display: block;
    }

    .footer-left_container {
        height: max-content;
        width: min-content;
    }

    .middle-container {
        position: relative;
        left: 190px;
        bottom: 29px;
    }

    .footer-right-container {
        position: relative;
        left: 563px;
        bottom: 370px;
        width: 100%;
        max-width: 380px;
    }

    .right-container-subtitle {
        margin: -8px 0 0 -23px;
    }

    .footer__input {
        margin: 12px 0px 0 -22px;
    }

    .footer-submit {
        width: 129px;
        margin-left: 5px;
    }

    .footer-author {
        position: absolute;
        left: 148px;
        bottom: 9px;
    }

    .content-donate {
        padding-top: 40px;
        width: 100%;
        max-width: 1160px;
    }

    .panda-donate {
        background-position: -172px -36px;
        background-size: 1600px;
        height: 470px;
    }

    .donate-body {
        width: 100%;
        max-width: 1160px;
        padding: 0 30px;
    }

    .image__donate-animals {
        width: 100%;
    }

    .donate__line-progress {
        width: 810px;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1150px) {

    .content-donate {
        padding-top: 41px;
        height: 1333px;
    }

    .subtitle__donate {
        margin-bottom: 40px;
    }

    .donate__container {
        padding: 20px 66px 0 66px;
        height: 918px;
    }

    .donate__container>img {
        width: 810px;
        height: 40px;
    }

    .title__donate {
        margin-bottom: 29px;
        padding-right: 92px;
    }

    .donate-body {
        padding: 0 30px;
    }

    .decription__donate {
        margin-bottom: 47px;
    }

    .title_donate-container {
        margin: 0px 0 12px -16px;
    }

    .subtitle_donate-container {
        margin: 1px -28px 60px -34px;
    }

    .image__donate-animals {
        margin-bottom: 55px;
    }

    .donate__number {
        margin: 87px 28px 0 0;
    }

    .number_panda {
        margin-right: 28px;
    }

    .donate-progress {
        margin-left: -29px;
    }

    .donate-range {
        width: 809px;
        align-items: center;
    }

    .range-circle__item:nth-child(1) {
        display: none;
    }

    .donate-number {
        gap: 65px;
    }

    .radiobutton-item {
        margin-left: -21px;
    }

    .donate__radiobuttons {
        gap: 73px;
    }

    .donate-number__item {
        width: 100%;
    }

    .donate-number__item:nth-child(1) {
        display: none;
    }


    .donate-range__input[type="range"] {
        width: 827px;
    }


    .grey-line {
        width: 785px;
    }

}

@media (max-width: 990px) {

    .header {
        height: 34px;
    }

    .header-wrapper {
        position: absolute;
        top: 200px;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-between;
    }

    .header .logo {
        top: 10px;
        width: 60px;
        height: 33px;
        border: none;
        font-size: 12px;
        line-height: 120%;
        margin: 2px 0px 0 -33px;
    }

    .left-container {
        display: block;
        position: absolute;
        top: -210px;
        margin-left: 100px;
        padding: 0 100px 20px 0;
    }

    .header .bamboo {
        left: 9px;
        top: 12px;
        height: 15px;
    }

    .header .nav-container {
        display: block;
    }

    .header .nav-item {
        margin-bottom: 15px;
        white-space: nowrap;
    }

    .header .header-nav {
        visibility: hidden;
    }

    .right-container {
        visibility: hidden;
        margin-left: 27px;
        margin-top: 28px;
        opacity: 0.7;
    }

    .hamburger {
        display: block;
        margin-top: 14px;
        margin-right: 15px;
    }

    /* .checkbox1:checked~div .logo {
        color: #f9804b;
        border: 1px solid #f9804b;
    }

    .checkbox1:checked~div .left-container {
        background-color: gray;
        opacity: 0.7;
    }

    .checkbox1:checked~div .nav-container {
        visibility: visible;
    }

    .checkbox1:checked~div .right-container {
        visibility: visible;
    } */

    .panda {
        height: 373px;
    }

    .panda-container {
        display: block;
        position: relative;
    }

    .panda-wrapper {
        padding-top: 64px;
        padding-right: 86px;
    }

    .panda-title {
        position: absolute;
        left: 369px;
        top: 78px;
        max-width: 255px;
        height: 204px;
        font-size: 54px;
    }

    .panda-button {
        position: absolute;
        left: 20px;
        top: 230px;
    }

    .circle {
        width: 237px;
        height: 237px;
        top: 45px;
        left: 331px;
    }

    .wrapper {
        padding: 0 20px;
    }

    .backstage-cap__img {
        display: none;
    }

    .backstage {
        padding: 0;
        height: max-content;
        overflow: hidden;
        display: flex;
        margin-bottom: 11px;
    }

    .backstage-wrapper {
        justify-content: flex-start;
        gap: 0px;
        margin: 0;
        padding-right: 0px;
    }

    .backstage-content {
        max-width: 495px;
        height: 367px;
        word-wrap: break-word;
    }

    .backstage-title {
        margin: 60px 0 0 4px;
    }

    .undertitle {
        margin-top: 20px;
    }

    .backstage-subtitle {
        margin-top: 30px;
    }

    .undersubtitle {
        margin: 20px 0 0 1px;
        line-height: 32px;
    }

    .backstage-flower {
        position: relative;
        display: inline-block;
        right: -27px;
        width: auto;
        height: 476px;
        top: 3px;
    }

    .pets {
        padding: 20px;
        height: auto;
    }

    .pets-container {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        height: max-content;
        padding: 0px;
        height: 756px;
        margin-bottom: 60px;
    }

    .pet-item {
        width: 285px;
        height: 332px;
    }

    .pet-item:nth-child(n + 5) {
        display: none;
    }

    .pets-button {
        top: 344px;
    }

    .pets-button-left {
        left: 225px;
    }

    .pets-button-right {
        left: 315px;
    }

    .pet-item:hover {
        max-height: max-content;
    }

    .pet-image {
        margin: 0px;
        max-width: 100%;
        max-height: 100%;
    }

    .pet-item:hover .pet-info {
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 12.5px;
        height: max-content;
    }

    .pet-icon-food {
        top: 0px;
        right: 8px;
    }

    .pet-image-right {
        width: 175px;
        height: 131px;
    }

    .pet-image-left-2 {
        left: -252px;
        bottom: 0;
    }

    .pick {
        padding: 20px 0;
        height: min-content;
    }

    .p {
        text-overflow: ellipsis;
        /* Добавляем многоточие */
    }

    .pick-container {
        margin: 0px;
        padding: 10px 20px 60px 20px;
        height: min-content;
    }

    .pick-title {
        font-size: 42px;
        margin: -5px 0px 0px 0;
    }

    .pick-subtitle {
        max-width: 100%;
        margin: 16px 0 40px 0px;
        font-size: 22px;
    }

    .pick-pretext {
        margin: 43px 0 0;
        padding: 0;
    }

    .pick-text {
        max-width: 100%;
        margin: 10px 0 0;
    }

    .pick-works-title {
        margin-top: -5px;
    }

    .pick-works-wrapper {
        justify-content: center;
        gap: 42px;
        max-width: 100%;
        margin: 20px 0px 70px -12px;
    }

    .pick-works-wrapper>img {
        display: none;
    }

    .pick-item:not(:first-child)::after {
        /* content: url(http://static.skaip.org/img/emoticons/180x180/f6fcff/penguin.gif); */
        content: url(../../assets/icons/greenLine.svg);
        position: relative;
        left: -75px;
        top: -253px;
    }

    .pick-item {
        width: 168px;
        height: 168px;
    }

    .pets-choose-button {
        margin: 60px auto 81px auto;
    }

    .testimonials {
        padding: 60px 0px 80px;
        overflow: hidden;
        height: min-content;
        height: 668px;
    }

    .testimonials__container {
        height: min-content;
    }

    .testimonials__row {
        flex-direction: column;
        gap: 15px;
    }

    .testimonials__column {
        max-width: 100%;
        width: 600px;
        height: 109px;
        margin: 0 20px;
    }

    .testimonials__card {
        padding: 15px 28px 8px 12px;
        font-size: 15px;
    }

    .testimonials__text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 15px;
        line-height: 120%;
        pointer-events: none;
    }

    .line[type="range"] {
        display: none;
    }

    .line_scrol {
        display: none;
    }

    .button-testiminials {
        margin: 6px 0 0 200px;
        width: 37.5%;
    }

    .testimonials-image-right {
        width: 137.88px;
        height: 198.88px;
        right: -13px;
        bottom: -66px;
    }

    .footer {
        height: 282px;
        padding: 12px 20px;
    }

    .footer__container {
        display: block;
        position: relative;
    }

    .footer-list a {
        display: none;
    }

    .info-right {
        display: none;
    }

    .footer-left_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: baseline;
        width: 100%;
        height: 170px;
    }

    .test-container {
        height: 172px;
        max-width: 100%;
    }

    .button-footer {
        margin: 32px 0 0 0;
    }

    .footer_img {
        margin: 0;
    }

    .footer-list {
        margin-right: -9px;
    }

    .footer-list li {
        margin: -5px 0px 23px 0px;
        height: 26px;
    }

    .footer-list li:last-child {
        margin: 0;
    }

    .footer_img {
        margin-right: 8px;
    }

    .footer-list a {
        top: 12px;
    }

    .middle-container {
        display: flex;
        align-items: flex-end;
        width: max-content;
        margin: 0;
        bottom: 2px;
        left: 0;
        height: calc(100% - 170px);
        max-height: 100%;
    }

    .nav-container {
        gap: 37px;
    }

    .footer-right-container {
        left: 0;
        bottom: 0;
        height: 0;
    }

    .footer-author {
        position: absolute;
        left: 111px;
        bottom: 0;
        width: 480px;
    }
}

@media (max-width: 970px) {

    .panda-donate {
        height: 369px;
        background-position: -272px -66px;
        background-size: 1373px;
    }

    .content-donate {
        padding-top: 30px;
        max-height: 1381px;
    }

    .subtitle__donate {
        margin-bottom: 30px;
    }

    .donate__container {
        padding: 19px 0 31px 0;
    }

    .donate__container>img {
        width: 810px;
        height: 40px;
    }

    .donate-body {
        padding: 0 20px;
    }

    .title__donate {
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 19px;
    }

    .decription__donate {
        line-height: 140%;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .title_donate-container {
        margin: 9px 0 22px 0px;
    }

    .subtitle_donate-container {
        margin: 0px auto 50px auto;
    }

    .image__donate-animals {
        margin-bottom: 41px;
    }

    .donate-range {
        width: 600px;
    }

    .range-circle__item:nth-child(2) {
        display: none;
    }

    .range-circle__item:nth-child(3) {
        display: none;
    }

    .donate-number__item:nth-child(2) {
        display: none;
    }

    .donate-number__item:nth-child(3) {
        display: none;
    }


    .donate-range__input[type="range"] {
        width: 565px;
    }

    .grey-line {
        width: 520px;
    }

    .donate-number {
        gap: 66px;
    }

    .text_panda {
        margin-left: -9px;
    }

    .another_amount {
        width: 181px;
        height: 41px;
    }

    .donate__radiobuttons {
        margin-top: 32px;
    }

}